<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>About Me - JustAnotherGay Blog</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="about-page"> <!-- Add the about-page class here -->
    <header>
        <h1>About Me</h1>
    </header>

    <div class="container">
        <p>You can call me Just Another Gay! And I'm a master's student in Canada. I'm not studying something fun or creative; it is just Applied Computing, but I do have fun, and my heart truly sings when I'm writing about my feelings and experiences or snapping photos of life's beautiful moments. Also, if I have to tell about myself, I would love to tell you that I'm gay. I'm out and proud, and I can't wait to share my story with you. My mission is to help you feel understood and less alone on your journey. If reading my experiences brings you comfort and joy, then I've done what I set out to do! 🌈❤️‍🩹 So, let us dive in!</p>
    </div>

    <footer>
        &copy; JustAnotherGay Blog. All rights reserved.
    </footer>
</body>
</html>
